In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
import os 
os.getcwd()

'C:\\Users\\AJSAXEN'

In [7]:
df = pd.read_csv("C:\\Users\\AJSAXEN\\Desktop\\BD\\Books\\GIT Project\\Multiple-Linear-Regression-master\\50_Startups.csv")

In [8]:
df.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [19]:
df.shape

(50, 5)

In [23]:
X= df.iloc[:, :-1]
y = df.iloc[:,4]

In [24]:
X.shape

(50, 4)

In [25]:
y.shape

(50,)

One hot encodinting for categorical variable

In [27]:
States = pd.get_dummies(X['State'], drop_first = True) # drop_first true to avaoid dummy variable trap

In [28]:
X= X.drop('State', axis=1)

In [30]:
X.head()

   R&D Spend  Administration  Marketing Spend
0  165349.20       136897.80        471784.10
1  162597.70       151377.59        443898.53
2  153441.51       101145.55        407934.54
3  144372.41       118671.85        383199.62
4  142107.34        91391.77        366168.42

In [32]:
X= pd.concat([X, States],axis=1)

In [33]:
X.head()

   R&D Spend  Administration  Marketing Spend  Florida  New York
0  165349.20       136897.80        471784.10        0         1
1  162597.70       151377.59        443898.53        0         0
2  153441.51       101145.55        407934.54        1         0
3  144372.41       118671.85        383199.62        0         1
4  142107.34        91391.77        366168.42        1         0

Data Spliting

In [36]:
from sklearn.model_selection import train_test_split

In [37]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)

Model Building

In [39]:
from sklearn.linear_model import LinearRegression

In [41]:
regressor = LinearRegression()

In [42]:
regressor.fit(X_train, y_train)

LinearRegression()

In [43]:
y_pred = regressor.predict(X_test)

In [44]:
from sklearn.metrics import r2_score

In [45]:
score = r2_score(y_test, y_pred)

In [46]:
print(score)

0.9358680970046241